.card {
  width: 190px;
  height: 250px;
  transition: all 0.2s;
  position: relative;
  
}

.card1{
  background: url("/armstrong.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card2{
  background: url("/collins.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.card3{
  background: url("/aldrin.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-inner {
  width: inherit;
  height: inherit;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  backdrop-filter: blur(10px); 
  border-radius: 10px;
  transition: backdrop-filter 0.5s;
 transition: box-shadow 0.5s;
}

.card:hover > .card-inner {
  backdrop-filter: blur(0px); 
  transition: backdrop-filter 0.5s;
  transition: box-shadow 0.5s;
   box-shadow: 0 0px 150px -3px #6E06D4, 0 0px 6px -2px #6E06D4;
}

.card:hover {
  transform: scale(1.04);
}

.circle, .circle2, .circle3 {
  width: 100px;
  height: 100px;
  background: radial-gradient(#6c28b0, #6E06D4);
  border-radius: 50%;
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle4{
  position: absolute;
  animation: move-up6 2s ease-in infinite alternate-reverse;
}

.circle:nth-child(1) {
  top: -25px;
  left: -25px;
}

.circle:nth-child(2) {
  bottom: -25px;
  right: -25px;
  animation-name: move-down1;
}

.circle2:nth-child(1) {
  top: -55px;
  left: 45px;
}

.circle2:nth-child(2) {
  bottom: -55px;
  right: 45px;
  animation-name: move-down1;
}

.circle3:nth-child(1) {
  top: -25px;
  left: 125px;
}

.circle3:nth-child(2) {
  bottom: -25px;
  right: 125px;
  animation-name: move-down1;
}

.circle4:nth-child(2) {
 top: -85px;
left: 0px;
}

 .circle4:nth-child(1) {
   bottom: -85px;
  right: 0px;
  animation-name: move-down1;
  z-index: 100;
} 

@media (max-width: 420px) {
 .circle4 {
  display: none;
}}

@keyframes move-up6 {
  to {
    transform: translateY(-10px);
  }
}

@keyframes move-down1 {
  to {
    transform: translateY(10px);
  }
}

.shadow-lg-2
{
   box-shadow: 0 0px 150px -3px #6E06D4, 0 0px 6px -2px #6E06D4;
}










  
.shine2 {
  position: relative;
  top: -100%;
  left: 0;
  width: 190px;
  height: 265px;
  overflow: hidden;
}

.shine-effect {
  position: absolute;
  top: -15%;
  left: 150%;
  width: 25px;
  height: 300px;
  background-color: #ffffff2a;
  box-shadow: 0 0 15px 2px #ffffff42;
  transform: rotate(25deg);
  transition: all 1s cubic-bezier(0.78, 0.02, 0.5, 0.77);
  z-index: 5;
}

.card:hover .shine-effect {
  left: -100%;
}
.card1:hover {
  rotate: -5deg;
}

.card3:hover {
  rotate: 5deg;
}