@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", monospace;
}



.bg-video{
  backdrop-filter: blur(10px); 
}

/*!gold text  */
.gold {
     background-image: repeating-linear-gradient(to right, #a2682a 0%, #be8c3c 8%, #be8c3c 18%, #d3b15f 27%, #faf0a0 35%, #ffffc2 40%, #faf0a0 50%, #d3b15f 58%, #be8c3c 67%, #b17b32 77%, #bb8332 83%, #d4a245 88%, #e1b453 93%, #a4692a 100%);
  background-size: 150%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 1px rgba(255, 200, 0, .3));
  animation: MoveBackgroundPosition 6s ease-in-out infinite;
}


@keyframes MoveBackgroundPosition { 
  0% {
      background-position: 0% 50%
  }
  
  50% {
    background-position: 100% 50%
  }
  
  100% {
    background-position: 0% 50%
  }
}

/*!moon cursor follower*/
.magneto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url("/moon.webp");
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0px 150px -3px #6E06D4, 0 0px 6px -2px #6E06D4;
  color: #6E06D4;
  font-weight: 600;
  font-size: 20px;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*!slider*/

/* Pre Chrome, Edge a Safari */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #6E06D4;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background: #080808;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6E06D4;
}

/* Pre Firefox */
html {
    scrollbar-color: #6E06D4 #3e3e3e;
    scrollbar-width: thin;
}



/*!cursor*/

.star {
    position: absolute;
    width: 8px;
    height: 8px;
    background: radial-gradient(circle, white, transparent);
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);    pointer-events: none;
    animation: fadeOut 1s forwards;
    overflow: hidden;
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }
}